<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="cache" label="20000" type="labelenum" values="0|3|9|12|24" default="24"/>
    <setting id="DEBUG" label="20001" type="bool" default="false"/>
    <setting id="username" label="20002" type="text" default="" />
    <setting id="user_password" label="20003" type="text" default="" option="hidden" enable="!eq(-1,)" />
	<setting id="max_quality" label="20007" type="labelenum" values="1080|720|480" default="1080"/>
	<setting id="domain" label="20004" type="text" default="http://www.sdarot.wf" />
	<setting id="use_proxy" label="20005" type="bool" default="true" />
	<setting id="del_cache" label="20006" type="action" action="RunPlugin(plugin://plugin.video.sdarot.tv/sdarot.py?mode=7&url=settings)" option="close"/>
</settings>
